<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Angus Beer</title>
	<link rel="shortcut icon" href="../img/lupfavicon.png">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="contenedor-grid">
	<header class="header">
	<a href="../index.html">
			<img src="../img/angus.png" alt="logo de angus beer">
		</a> 
	</header>
	<nav class="nav text-bold">
		<ul>
			<li>
				<a href="productos.html">Nuestras birras</a></li>
			<li>
				<a href="nosotros.html">Sobre nosotros</a></li>
			<li>
				<a href="contacto.html #contacto">Contacto</a></li>
			<li>
				<a href="preguntas.html">Preguntas frecuentes</a>
			</li>	
        </ul>
	</nav>
	<aside class="aside">
		<div>
			<div><img src="../img/vaso.jpg" alt="botellas cerveza"></div>
			<div><img src="../img/can.jpg" alt="canillas de cerveza tirada"></div>
			<div><img src="../img/copa.jpg" alt=""></div>
		</div>
	</aside>
	<article class="main ">
		<section class="preguntas" >
			<h3>¿Como Comprar?</h3>
	   		<p>
	   		Elige el producto que deseas comprar.
            Haz clic en el botón de "Agregar al carrito". Esto agregará el producto a tu carrito y te llevará al mismo.	<br>
			Puedes seguir agregando otros productos al carrito o sino haz clic en "Iniciar Compra". <br>	
			Completa tus datos de contacto y haz clic en "Continuar". 
			Ingresa la dirección a donde deseas recibir el producto. Luego haz clic en "Continuar". <br>
			Selecciona el método de envío que desees y haz clic en "Continuar".
			Los envíos los realiza <span class="text-bold">Angus beer</span> u OCA dependiendo de la zona. <br> 
			Elige el medio de pago. 
			Una vez que hayas elegido el medio de pago, haz clic en "Continuar". <br>
			Finalmente en la página de Confirmación de compra puedes revisar toda la información de la compra. Luego haz clic en "Continuar". <br>
			Ahí serás redirigido a otra pantalla para que completes los datos sobre la forma de pago elegida. Después de confirmar la compra recibirás un correo de nuestra parte, ese no será un comprobante de pago. <br>
        	Una vez acreditado el pago, haremos el envío correspondiente de los productos que hayas comprado. <br>
	         </p>

		
			<h3>Medios de Pago</h3>

			<p>Utilizamos la plataforma de pago de Mercadopago. Podés pagar con todos los medios de pago disponibles en la misma (Tarjeta de Crédito, Tarjeta de Débido, Dinero en cuenta, Efectivo).</p>
			
			<h3>Envíos</h3>

			<p>Los envíos se realizan de Lunes a Viernes de 8 a 17 hs. Aproximadamente entre 2 y 4 días hábiles después de realizada la compra, dependiendo el transporte indicado.</p>
			
	</section>
	</article>
	<footer class="footer">
		<h3>Seguinos en nuestras redes</h3>
		<a href="https://facebook.com/carla.r.baez" target="blank">
			<img src="../img/logof.png" alt="logo facebook">
		</a>
		<a href="https://www.instagram.com/angusbeer420/"target= "blank">
			<img src="../img/logoig.png" alt="logo instagram">
		</a>
	</footer>
	<section class="section"> 	 
		<h3>¿Como llegar?</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.4271675432888!2d-58.736717080776735!3d-34.54273832716861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd6159905b03%3A0xd7273a2ed156fbad!2sGutenberg%202356%2C%20B1663KPX%20San%20Miguel%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653944129286!5m2!1ses!2sar" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</section>	
	
</body>
</html>