<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Angus Beer</title>
	<link rel="shortcut icon" href="../img/lupfavicon.png">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="contenedor-grid">
	<header class="header">
	<a href="../index.html">
			<img src="../img/angus.png" alt="logo de angus beer">
		</a> 
	</header>
	<nav class="nav text-bold">
		<ul>
			<li>
				<a href="productos.html">Nuestras birras</a></li>
			<li>
				<a href="nosotros.html">Sobre nosotros</a></li>
			<li>
				<a href="contacto.html #contacto">Contacto</a></li>
			<li>
				<a href="preguntas.html">Preguntas frecuentes</a>
			</li>	
        </ul>
	</nav>
	<aside class="aside">
		<div>
			<div><img src="../img/vaso.jpg" alt="botellas cerveza"></div>
			<div><img src="../img/can.jpg" alt="canillas de cerveza tirada"></div>
			<div><img src="../img/varied.jpg" alt=""></div>
		</div>
	</aside>
	<section class="main fotos ">
	<article class="galeria"> 

			<div class="img-a img-center">
				<img  src="../img/vasob.jpg" alt="">
			</div>
			<div class="img-b img-center">
				<img  src="../img/copa.jpg" alt="">
			</div>
			<div class="img-c img-center">
					<img  src="../img/ipa.jpg" alt="">
			</div>
			<div class="img-d img-center">
				<img  src="../img/scot.jpg" alt="">
			</div>
			<div class="img-f img-center">
				<img  src="../img/vb.jpg" alt="">
			</div>
		
			
	</article>
	</section>
	<footer class="footer">
		<h3>Seguinos en nuestras redes</h3>
		<a href="https://facebook.com/carla.r.baez" target="blank">
			<img src="../img/logof.png" alt="logo facebook">
		</a>
		<a href="https://www.instagram.com/angusbeer420/"target= "blank">
			<img src="../img/logoig.png" alt="logo instagram">
		</a>
	</footer>
	<section class="section"> 	 
		<h3>¿Como llegar?</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.4271675432888!2d-58.736717080776735!3d-34.54273832716861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd6159905b03%3A0xd7273a2ed156fbad!2sGutenberg%202356%2C%20B1663KPX%20San%20Miguel%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653944129286!5m2!1ses!2sar" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</section>	
	
</body>
</html>